<footer class="footer mt-auto py-3" >
    <div class="container" >
        <span class="text-muted" >Place sticky footer content here.</span >
    </div >
</footer >

<script src="javascripts/jquery.min.js" ></script >
<script src="javascripts/popper.min.js" ></script >
<script src="javascripts/bootstrap.min.js" ></script >
<script src="javascripts/awesome.bubble.js" ></script >

<script >

    $( function () {

        $( '.navbar-brand, .nav-item' ).each( function ( index , element ) {
            _awesomeBubble( element , {
                color : 'cornflowerblue'
            } );
        } )

        $( 'button' ).each( function ( index , element ) {
            _awesomeBubble( element , {
                color : 'red'
            } );
        } )

    } )

</script >

<script src="/socket.io/socket.io.js" ></script >
<script src="javascripts/io.client.js" ></script >
<script src="javascripts/new.saloon.js" ></script >