<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="stylesheets/bootstrap.min.css" >
<link rel="stylesheet" href="stylesheets/style.css" >

<title ><%= title %></title >