<header >

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" >
        <a class="navbar-brand" href="/" >UnoYolo</a >

        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon" ></span >
        </button >

        <div class="collapse navbar-collapse" id="navbarCollapse" >
            <ul class="navbar-nav mr-auto" >

                <li class="nav-item" >
                    <a id="newsaloon" class="nav-link" href="#" >Créer un salon</a >
                </li >

            </ul >
        </div >

    </nav >

</header >