<!DOCTYPE html>
<html class="h-100" lang="fr" >

    <head >
        <%- include('layouts/header') %>
    </head >

    <body class="d-flex flex-column h-100" >

        <%- include('layouts/navbar') %>

        <main role="main" class="flex-shrink-0" >
            <div class="container" >

                <div class="card-deck mb-3 text-center" >

                    <div class="card mb-4 shadow-sm" >
                        <div class="card-header" >
                            <h4 class="my-0 font-weight-normal" >Salon toto</h4 >
                        </div >
                        <div class="card-body" >
                            <ul class="list-unstyled mt-3 mb-4" >
                                <li >3 utilisateurs connectés</li >
                            </ul >

                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" >
                            <br />
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary" >Rejoindre</button >
                        </div >
                    </div >

                    <div class="card mb-4 shadow-sm" >
                        <div class="card-header" >
                            <h4 class="my-0 font-weight-normal" >Salon toto</h4 >
                        </div >
                        <div class="card-body" >
                            <ul class="list-unstyled mt-3 mb-4" >
                                <li >3 utilisateurs connectés</li >
                            </ul >

                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" >
                            <br />
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary" >Rejoindre</button >
                        </div >
                    </div >

                    <div class="card mb-4 shadow-sm" >
                        <div class="card-header" >
                            <h4 class="my-0 font-weight-normal" >Salon toto</h4 >
                        </div >
                        <div class="card-body" >
                            <ul class="list-unstyled mt-3 mb-4" >
                                <li >3 utilisateurs connectés</li >
                            </ul >

                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" >
                            <br />
                            <button type="button" class="btn btn-lg btn-block btn-outline-primary" >Rejoindre</button >
                        </div >
                    </div >

                </div >

            </div >
        </main >

        <%- include('layouts/footer') %>

    </body >
</html >