a
{
    color: cornflowerblue;
}

main > .container
{
    padding: 90px 15px 0;
}

.footer
{
    background-color: #F5F5F5;
}

.footer > .container
{
    padding-right: 15px;
    padding-left: 15px;
}

code
{
    font-size: 80%;
}
